<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIZ23TZIIIEROX7FA"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="ServiceURL" value ="http://dynamodb.us-west-2.amazonaws.com"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>